<%- include('./partials/header') %>

    <!-- https://howto.webarea.it/css/creare-sidebar-menu-in-bootstrap_183 -->
    <!-- https://coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d -->

    <div class="d-flex justify-content-center">
        <div id="infoDashboard">

            <div class="info">
                Numero di post creati
                <hr />
                <h3>15</h3>
            </div>

            <div class="info">
                Numero di utenti
                <hr />
                <h3>5</h3>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>