<%- include('./partials/header') %>

    <div id="phrasesTable">
        <h3>Tabella <span style="font-style: italic;">frasi</span></h3>
        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead>
                    <th scope="col">Title</th>
                    <th scope="col">Autore</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">title1</th>
                        <td>autore1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <%- include('./partials/footer') %>