<%- include('./public/partials/header') %>

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">

        <div class="row text-center">
            <div class="col-md-12">
                <h1>Accedi</h1>

                <%- include('./partials/flashMessages') %>
            </div>
        </div>

        <div class="col-md-7 col-lg-6">
            <form action="/login" method="POST">


                <!-- metto un benvenuto con NODEMAILER -->
                <div class="row">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4">
                                    <i class="fa fa-envelope"></i>
                                </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="abc@example.com" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-block py-2 btn-outline-primary">Login</button>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small font-weight-bold">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="form-group col-lg-12 mx-auto">
                        <a href="#google" class="btn btn-primary btn-block py-2 btn-google">
                            <i class="fab fa-google mr-2"></i>
                            <span class="font-weight-bold">Accedi con Google</span>
                        </a>
                    </div>
                </div> -->

                <div class="text-center w-100">
                    <p class="font-weight-bold">Ti serve un account? <a href="/register" class="ml-1 text-info">Registrazione</a></p>
                </div>


            </form>
        </div>


        <script src="/js/utilsFlashMessages.js"></script>

        <%- include('./public/partials/footer') %>