.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
    vertical-align: middle;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

#userWrapper {
    height: 100%;
    background-color: #333333;
}

#content-wrapper,
#content {
    height: 80%;
}

html,
body {
    height: 100%;
}

#heart:hover {
    color: #212020 !important;
}

.cardHome>.card-body {
    text-align: center;
}

.cardHome>.card-header,
.cardHome>.card-footer {
    background-color: rgba(224, 224, 224, .1)
}

.cardHome .card-footer {
    text-align: right;
    border: none;
}

.myImg {
    padding: 15px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.myNavItem {
    margin-top: 2px;
    width: 80px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.myNavItem:hover {
    text-decoration: underline;
}

.square {
    height: 50px;
    width: 50px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.btn:not(:disabled):not(.disabled) {
    margin-left: 1px !important;
    border: 1px solid #D1D3E2 !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 60% !important;
}

.heartForSaving {
    position: absolute;
    right: 16px;
    top: 8px;
}

.heartForSaving:hover {
    color: #D66060;
<<<<<<< HEAD
}

.myFlagFooter {
    height: 40px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
=======
>>>>>>> de6095a4e51be9994966304aa92ea8276c9d458a
}