<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputFile"><i class="fas fa-upload"></i></span>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" name="image" id="image" onchange="checkFile(this)" aria-describedby="inputFile">
        <label class="custom-file-label" for="image">Selezione l'immagine</label>
    </div>
</div>

<div class="col-12 d-flex justify-content-center align-items-end">
    <div class="col-xl-10 col-lg-12 mb-3">
        <img id="imagePreview" src="#" style="width: 100%;" hidden>
    </div>

    <i class="fas fa-trash text-primary fa-2x mb-3" id="btnDeleteImage" onclick="deleteImage()" hidden></i>
</div>