<div class="row" id="passwordErrors" class="alert alert-warning password-alert" role="alert" hidden>
    <ul>
        <li class="requirements len"><i class="fas fa-check text-success" id="validLen" hidden></i><i class="fas fa-times text-danger" id="wrongLen"></i> La password deve essere almeno di 8 caratteri</li>
        <li class="requirements len"><i class="fas fa-check text-success" id="validEquals" hidden></i><i class="fas fa-times text-danger" id="wrongEquals"></i> Le due password devono combaciare</li>
    </ul>
</div>