<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger text-center">
                <i class="fas fa-exclamation-triangle fa-2x"></i>&nbsp;
                <%- language.noEntities %>
            </div>
        </div>
    </div>
</div>