<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in " aria-labelledby="userDropdown">

    <a class="dropdown-item" href="/profile">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 "></i> Profile
    </a>

    <% if (user.role === ROLE.ADMIN) { %>
        <div class="dropdown-divider "></div>

        <a class="dropdown-item" href="/admin/dashboard">
            <button type="button" class="btn btn-light">
                <i class="far fa-eye"></i> Schermata admin
            </button>
        </a>
        <% } %>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item " href="#">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-light">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                    </button>
                </form>
            </a>

</div>