<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">

        <%- include('../partials/flashMessages') %>




            <div class="row mb-4">
                <div class="col-md-12 text-center">
                    <%- language.parallax.intro %>
                </div>
            </div>


    </div>

    <%- include('./partials/footer') %>